<section class="conversations" *ngIf="failedToLoadConversations() !== null">
    <h2>Conversations</h2>
    <ul *ngIf="failedToLoadConversations() === false">
        <ng-template ngFor let-conversation [ngForOf]="conversations() | orderByDate">
            <li title="Last updated: {{conversation.last_updated}}"
                [class.is-selected]="conversation.id === selectedConversation()?.id"
                (click)="selectConversation(conversation)">
                {{conversation.name}}
            </li>
        </ng-template>
    </ul>
    <div class="error-message" *ngIf="failedToLoadConversations() === true">
        <p>We're sorry, we were unable to load the conversations.</p>
        <div blinkButton (click)="fetchConversations()">Try again</div>
    </div>
</section>
<section class="messages">
    <h2>{{selectedConversation()?.name}}</h2>
    <ul *ngIf="selectedConversation() !== null">
        <ng-template ngFor let-message [ngForOf]="selectedConversation()?.messages | orderByDate: 'last_updated' : true">
            <li #message>
                <app-message [message]="message"></app-message>
            </li>
        </ng-template>
    </ul>

</section>
<section class="composer">
    <form [formGroup]="commentForm" *ngIf="failedToLoadConversations() === false">
        <input type="text" blinkInput [formControlName]="'newComment'" />
        <div blinkButton (click)="submitComment()">Send</div>
    </form>
</section>
