:host {
    display: inline-grid;
    line-height: 1;
    color: var(--dark-green);
    background-color: var(--pale-green);
    border: 1px solid;
    border-color: var(--pale-green);
    border-radius: 2rem;
    cursor: pointer;
    transition: all .2s;
    padding: .5rem 1rem;

    &:hover {
        color: var(--pale-green);
        background-color: var(--dark-green);
        border-color: currentColor;
    }
}
